@model LoginModel
@{
    Layout = "~/Views/Shared/_LayoutHomeOperator.cshtml";
    ViewBag.Title = "注册";
}

<style>
    .login-info{
        margin:20px 0;
    }
</style>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">完成注册</h1>
    </div>
    <div class="col-lg-4 offset-lg-4 text-center">
        <div class="login-info">
            <div class="text-center">
                @Html.ActionLink("开启两步验证", "Step1", null, new { @class = "btn btn-lg  btn-primary" })
            </div>
        </div>
        <div class="login-info">
            @Html.ActionLink("完成注册，立即登录", "Login","Login", null, new { @class = "btn btn-lg  btn-primary" })
        </div>
    </div>
