@model SignatureModel
@{
    ViewBag.Title = "开通两步验证";
    Layout = "~/Views/Shared/_LayoutHomeOperator.cshtml";
    var siteURL = System.Configuration.ConfigurationManager.AppSettings["SiteURL"];
}

<style>
    .login-info {
        margin: 20px 0;
    }
</style>
<div id="allDocument">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">开通两步验证</h1>
        <p id="Tip">请扫描以下二维码</p>
    </div>
    <div class="col-lg-4 offset-lg-4 text-center">
        <div class="login-info">
            <div class="text-center">
                <img id="QRCode" src="data:image/jpeg;base64,@ViewBag.base64String" alt="正在加载中..." />
            </div>
        </div>
        <div class="login-info">
            <div class="text-center" id="Result">
                <p class="text-primary">
                    重置码:<span id="ResetKey">@ViewBag.resetKey</span>
                </p>
                <h5 class="text-danger">注意记住上面的重置码，在无法验证时会用得上</h5>
            </div>
        </div>
        <div class="login-info">
            <h4 class="text-danger" hidden id="Back" href="#">服务开通成功，安全起见，请关闭窗口</h4>
            <a class="btn btn-lg  btn-primary" id="Verify" href="javascript:void(0);">验证是否添加成功</a>
        </div>
    </div>
</div>

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Verify").click(function () {
                $.ajax({
                    url: '@Url.Action("HaveAddSucceed", "OpenTwoFAService")',
                    method: "post",
                    success: function (res) {
                        if (res == "Yes") {
                            $("#Back").removeAttr("hidden");
                            $("#Verify").attr("hidden", "hidden");
                            $("#QRCode").attr("hidden", "hidden");
                            $("#Result").attr("hidden", "hidden");
                            $("#Tip").attr("hidden", "hidden");
                        }
                        else {
                            $("#Verify").text("未正确添加，请添加之后再次验证");
                        }
                    },
                    error: function () {
                        //alert(inputUrl);
                        $("#Verify").text("未正确添加，请扫码添加之后再次验证");
                    }
                });
            })
        })
    </script>
}

